.dashboard-card {
	border-radius: 5px !important; 
	/* border: 1px solid rgba(0,0,0,.1) !important; */
	border: none !important;
}

.dashboard-number {
	font-size: 5rem;
}

.tooltip {
	background-color: white;
	border: none;
	padding: 5px;
	border-radius: 5px;
	pointer-events: none;
}
