.dashboard-card {
	border-radius: 5px !important; 
	/* border: 1px solid rgba(0,0,0,.1) !important; */
	border: none !important;
}

.dashboard-number {
	font-size: 5rem;
}

.tooltip {
	background-color: white;
	border: none;
	padding: 5px;
	border-radius: 5px;
	pointer-events: none;
}

.card-options a {
	color: gray;
	text-decoration: none; !important
}

#price-line {
	stroke: steelblue;
	stroke-width: 3;
	stroke-opacity: 0.7;
}

.axis {
	font-family: 'Roboto Mono';
	font-weight: 500;
	color: #b8bcbf;
}

.bubble {
	stroke-width: 1px;
	stroke-opacity: 0.5;
	stroke: gray;
	opacity: 0.7
}

.tick > line {
	stroke-opacity: 0.3;
	stroke-dasharray: 4 4;
}

.senator-dashboard-card {
    width: 15vw;
    visibility: visible;
    display: inline-block;
}

@media screen and (max-width: 992px) {
	.senator-dashboard-card {
        visibility: hidden;
        display: none;
	}
}
