h1, h2, h3, h4, h5, h6, .navbar {
	font-family: 'Roboto Slab', serif !important;
}

.navbar {
	max-width:1400px;
	margin: 0 auto;
	font-size: medium;
}

.senator-card {
	width: 15rem;
}
body {
	font-family: 'Roboto Mono', serif !important;
	font-size: small;
	padding-top: 65px;
	background-color: #f7f7f7;
}

.contrast-box {
	background-color: #eee;
}

.animated, tr {
	animation-name: fadeIn;
	animation-duration: 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		visibility: visible;
		opacity: 1;
	}
}
