{% extends 'stocks/base.html' %}
{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'css/asset_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/detail_pages.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">

<div class="site-content" id="root"></div>
<script src="{% static 'js/asset_detail_bundle.js' %}"></script>

{% endblock content %}
