{% extends 'stocks/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mt-3">

  <div class="d-flex align-items-center mt-3 mb-3 p-3">
    <div class="text-nowrap"><b>Filter by:</b></div>
    <div class="input-group input-group-sm me-3 ms-1 w-auto">
      <span class="input-group-text" id="nameInputLabel">Name</span>
      <input type="text" id="name" class="form-control form-control-sm w-auto" placeholder="All" aria-label="asset name search" maxlength="100">
    </div>
    <div class="input-group input-group-sm me-3 ms-1 w-auto">
      <span class="input-group-text" id="nameInputLabel">Ticker</span>
      <input type="text" id="ticker" class="form-control form-control-sm" placeholder="All" aria-label="asset ticker search" maxlength="5">
    </div>
    <!-- <div class="flex-grow-1"> -->
    <!--   <ul class="nav nav-pills"> -->
    <!--     <li class="nav-item"> -->
    <!--       <button id="allAssetsButton" class="nav-link active" aria-current="page" onclick="displayAllAssets('allAssetsButton')">All Assets</button> -->
    <!--     </li> -->
    <!--     <li class="nav-item"> -->
    <!--       <button id="publicStocksButton" class="nav-link" onclick="filterPublicStocks('publicStocksButton')">Publicly Traded Stocks</button> -->
    <!--     </li> -->
    <!--     <li class="nav-item"> -->
    <!--       <button id="otherAssetsButton" class="nav-link" onclick="filterOtherAssets('otherAssetsButton')">Other Assets</button> -->
    <!--     </li> -->
    <!--   </ul> -->
    <!-- </div> -->
    <div class="text-nowrap ms-auto">Sort by:</div>
    <select id="sort" class="form-select w-auto form-select-sm ms-1" aria-label="sort select">
      <option value="Last trade (newest to oldest)" selected>Last trade (newest to oldest)</option>
      <option value="Last trade (oldest to newest)">Last trade (oldest to newest)</option>
      <option value="Trades (most to least)">Trades (most to least)</option>
      <option value="Trades (least to most)">Trades (least to most)</option>
    </select>
    <!-- <ul class="nav nav-pills" id="sortOptions"> -->
    <!--   <li class="nav-item"> -->
    <!--     <button id="sortByDate" class="nav-link active btn-small" onclick="sortCards('sortByDate')">Date</button> -->
    <!--   </li> -->
    <!--   <li class="nav-item"> -->
    <!--     <button id="sortAlphabetically" class="nav-link" onclick="sortCards('sortAlphabetically')">A-Z</button> -->
    <!--   </li> -->
    <!-- </ul> -->
  </div>
</div>

<!-- Start of list of senators -->
<div id="asset-cards" class="row justify-content-evenly">
  <!-- {% for asset, count, latest in all_assets %} -->
  <!-- <div class="col asset-card"> -->
  <!-- 	<div class="card m-3 animated" style="width: 20rem;" > -->
  <!-- 		<h6 class="card-header"> -->
  <!-- 			<div class="d-flex justify-content-between align-items-center"> -->
  <!-- 				{{ asset.name }} -->
  <!-- 				<span class="badge bg-secondary rounded-pill">{{ count }} trades</span> -->
  <!-- 			</div> -->
  <!-- 		</h6> -->
  <!-- 		<div class="card-body"> -->
  <!-- 			<div class="d-flex justify-content-between"> -->
  <!-- 				<h6 class="asset-ticker">{{ asset.ticker }}</h6> -->
  <!-- 				<small class="text-muted">Last traded on {{ latest.transaction_date }}</small> -->
  <!-- 			</div> -->
  <!-- 			<a href={% url 'asset_detail' asset.id %} type="button" class="btn btn-outline-dark btn-sm mt-3">View Asset</a> -->
  <!-- 		</div> -->
  <!-- 	</div> -->
  <!-- </div> -->
  <!-- {% endfor %} -->
</div>

<div id="loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <nav aria-label="Page navigation example">
    <ul id="pages" class="pagination">
      <li class="page-item" id="prev-page"><a class="page-link" onclick="prevCards()">Previous</a></li>
      <li class="page-item" id="next-page"><a class="page-link" onclick="nextCards()">Next</a></li>
    </ul>
  </nav>
</div>

<script src="{% static 'js/datejs/date-en-US.js' %}"></script>
<script src="{% static 'js/assets.js' %}"></script>
{% endblock %}

