{% extends 'stocks/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src="{% static 'js/search.js' %}"></script>




<div class="hero">
  <video id="video-bg" autoplay muted loop>
    <source  src={% static 'img/senate-1.mp4' %} type="video/mp4">
  </video>
  <h1 class="mt-5 text-center bold" id="homepage-heading">Hold senators accountable.<br>Monitor their stock trades.</h1>

  <div class="row mt-5 justify-content-center" >
    <div class="col-sm-6">
      <div class="p-3 border light search-box">
        <h5 class="text-center">To get started, search for a senator or company:</h5>
        <input type="search" oninput="delayedSearch('searchbox','results')" class="form-control form-control-sm" id="searchbox" placeholder="Search for a senator or company...">
      </div>
      <!-- <div class="row mb-3 justify-content-center"> -->
      <div style="float:inherit;">
        <!-- <div class="col-sm-6"> -->
        <div id="anchor">
          <ul class="list-group" id="results" style="max-height: 300px; overflow-y: auto;"></ul>
        </div>
        <!-- </div> -->
      </div>
      </div>
    </div>

  </div>

  <!-- Featured assets/senators cards -->
  <div class="container">


    <h4 class="text-center mt-3">Or explore these assets and senators:</h4>
    <div class="row mt-3 justify-content-between">


      <div class="col">
        <!-- <div class="p-3 border light"> -->
        <h3 class="text-center" id="cal-title"> 2021</h3>
        <figure class="col d-flex align-items-center justify-content-center" id="heatmap"></figure>
        <!-- </div> -->
      </div>


      <div class="col"><div class="row justify-content-around">
          <div class="shadow-sm card mb-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="shadow-sm card mb-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="shadow-sm card mb-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="shadow-sm card mb-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div></div>
    </div>
  </div>

  <!--
    {% if most_active_senators %}
    {{ most_active_senators|safe }}
    {% else %}
    <p>No graph provided.</p>
    {% endif %}
    //-->

    <!-- <div class="row mb-3 justify-content-center"> -->
    <!--   <div class="col-6"> -->
    <!--     <div class="p-3 border light"> -->
    <!--       <h3 class="text-center">January 2021</h3> -->
    <!--       <figure class="col d-flex align-items-center justify-content-center" id="heatmap"></figure> -->
    <!--     </div> -->
    <!--   </div> -->
    <script src="{% static 'js/datejs/date-en-US.js' %}"></script>
    <script src="{% static 'js/home_heatmap1.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>

    <script src="{% static 'js/display_trade_info.js' %}"></script>
    <!-- <div class="col-6"> -->
    <!-- 	<div class="p-3 border light"> -->
    <!-- 		<h3 class="text-center">Recent Trades</h3> -->
    <!-- 		<p id="asset-name">Asset name:</p> -->
    <!-- 		<p id="ticker">Ticker:</p> -->
    <!-- 		<p id="senator">Senator:</p> -->
    <!-- 		<p id="date">Date:</p> -->
    <!-- 		<p id="amount">Amount:</p> -->
    <!-- 		<p id="comments">Comments:</p> -->
    <!-- 	</div> -->
    <!-- </div> -->
    <!-- </div> -->



    {% endblock content %}
