{% extends 'stocks/base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/datejs/date-en-US.js' %}"></script>
<!-- <script src="{% static 'js/all_trades.js' %}"></script> -->
<link rel="stylesheet" href="{% static 'css/senators.css' %}">

<div class='container body-container'>
	<div id='root'></div>
	<script src="{% static 'js/senator_search_bundle.js' %}"></script>
</div>

<!-- <div class="container-fluid"> -->
<!-- 	<!-1- Start of filter options -1-> -->

<!-- 	<div class="d-flex flex-nowrap align-items-center mt-3 mb-3 p-3"> -->
<!-- 		<b>Filter by:</b> -->
<!-- 		<div class="input-group input-group-sm me-3 ms-1"> -->
<!-- 			<span class="input-group-text" id="nameInputLabel">Name</span> -->
<!-- 			<input type="text" id="name" class="form-control form-control-sm" placeholder="All" aria-label="senator name search"> -->
<!-- 		</div> -->
<!-- 		<b>Party:</b> -->
<!-- 		<select id="party" class="form-select w-auto form-select-sm ms-1 me-3" aria-label="party select"> -->
<!-- 			<option value="All" selected>All</option> -->
<!-- 			<option value="D">Democrat</option> -->
<!-- 			<option value="R">Republican</option> -->
<!-- 			<option value="I">Independent</option> -->
<!-- 		</select> -->
<!-- 		<b>State:</b> -->
<!-- 		<select id="state" class="form-select w-auto form-select-sm ms-1 me-3" aria-label="state select"> -->
<!-- 			<option value="All" selected>All</option> -->
<!-- 			{% for state in state_list %} -->
<!-- 			<option value={{ state }}>{{ state }}</option> -->
<!-- 			{% endfor %} -->
<!-- 		</select> -->
<!-- 		<div class="text-nowrap"><b>Sort by:</b></div> -->
<!-- 		<select id="sort" class="form-select w-auto form-select-sm ms-1" aria-label="sort select"> -->
<!-- 			<option value="Last trade (newest to oldest)" selected>Last trade (newest to oldest)</option> -->
<!-- 			<option value="Last trade (oldest to newest)">Last trade (oldest to newest)</option> -->
<!-- 			<option value="Trades (most to least)">Trades (most to least)</option> -->
<!-- 			<option value="Trades (least to most)">Trades (least to most)</option> -->
<!-- 		</select> -->
<!-- 	</div> --> 



<!-- 	<!-1- <div class="row justify-content-center"> -1-> -->
<!-- 	<!-1- <div class="col-8"> -1-> -->
<!-- 	<!-1-   <div class="mt-3 mb-3 p-3 border light contrast-box"> -1-> -->
<!-- 	<!-1-     <div class="row justify-content-evenly"> -1-> -->
<!-- 	<!-1-       <div class="col"> -1-> -->
<!-- 	<!-1-         <div class="row m-3"> -1-> -->
<!-- 	<!-1-           <div class="col"> -1-> -->
<!-- 	<!-1-             <div class="input-group input-group-sm"> -1-> -->
<!-- 	<!-1-               <span class="input-group-text" id="nameInputLabel">Name</span> -1-> -->
<!-- 	<!-1-               <input type="text" id="name" class="form-control form-control-sm" placeholder="All" aria-label="senator name search"> -1-> -->
<!-- 	<!-1-             </div> -1-> -->
<!-- 	<!-1-           </div> -1-> -->
<!-- 	<!-1-         </div> -1-> -->
<!-- 	<!-1-         <div class="row m-3"> -1-> -->
<!-- 	<!-1-           <div class="col"> -1-> -->
<!-- 	<!-1-             <div class="form-floating"> -1-> -->
<!-- 	<!-1-               <select id="party" class="form-select form-select-sm" aria-label="party select"> -1-> -->
<!-- 	<!-1-                 <option value="All" selected>All</option> -1-> -->
<!-- 	<!-1-                 <option value="Democrat">Democrat</option> -1-> -->
<!-- 	<!-1-                 <option value="Republican">Republican</option> -1-> -->
<!-- 	<!-1-                 <option value="Independent">Independent</option> -1-> -->
<!-- 	<!-1-               </select> -1-> -->
<!-- 	<!-1-               <label for="party">Party</label> -1-> -->
<!-- 	<!-1-             </div> -1-> -->
<!-- 	<!-1-           </div> -1-> -->
<!-- 	<!-1-           <div class="col"> -1-> -->
<!-- 	<!-1-             <div class="form-floating"> -1-> -->
<!-- 	<!-1-               <select id="state" class="form-select form-select-sm" aria-label="state select"> -1-> -->
<!-- 	<!-1-                 <option value="All" selected>All</option> -1-> -->
<!-- 	<!-1-                 {% for state in state_list %} -1-> -->
<!-- 	<!-1-                 <option value={{ state }} selected>{{ state }}</option> -1-> -->
<!-- 	<!-1-                 {% endfor %} -1-> -->
<!-- 	<!-1-               </select> -1-> -->
<!-- 	<!-1-               <label for="state">State</label> -1-> -->
<!-- 	<!-1-             </div> -1-> -->
<!-- 	<!-1-           </div> -1-> -->
<!-- 	<!-1-         </div> -1-> -->
<!-- 	<!-1-       </div> -1-> -->
<!-- 	<!-1-       <div class="col-3"> -1-> -->
<!-- 	<!-1-         <div class="row mt-3"> -1-> -->
<!-- 	<!-1-           <div class="col-1"> -1-> -->
<!-- 	<!-1-             <button onclick="displayFilteredSenators(JSON.parse('{{ senators_json|escapejs }}'))" type="button" class="btn btn-primary">Filter</button> -1-> -->
<!-- 	<!-1-           </div> -1-> -->
<!-- 	<!-1-         </div> -1-> -->
<!-- 	<!-1-         <div class="row mt-3"> -1-> -->
<!-- 	<!-1-           <div class="col-1"> -1-> -->
<!-- 	<!-1-             <button onclick="resetSenators(JSON.parse('{{ senators_json|escapejs }}'))" type="button" class="btn btn-danger">Reset</button> -1-> -->
<!-- 	<!-1-           </div> -1-> -->
<!-- 	<!-1-         </div> -1-> -->
<!-- 	<!-1-         <!-2- <button onclick="clearSenators(SENATOR_CARDS)" type="button" class="btn btn-danger">Reset</button> -2-> -1-> -->
<!-- 	<!-1-       </div> -1-> -->
<!-- 	<!-1-     </div> -1-> -->
<!-- 	<!-1-   </div> -1-> -->
<!-- 	<!-1- </div> -1-> -->
<!-- 	<!-1- </div> -1-> -->

<!-- 	<!-1- Start of list of senators -1-> -->
<!-- 	<h3 class="body-font" id="loading-senators">Loading senators...</h3> -->
<!-- 	<h3 class="body-font mb-3" id="senator-result-count" hidden>Found <span id="num-results"></span> senators:</h3> -->

<!--   <div id="senator-spinner" class="d-flex justify-content-center"> -->
<!--     <div class="spinner-border" role="status"> -->
<!--       <span class="visually-hidden">Loading...</span> -->
<!--     </div> -->
<!--   </div> -->


<!-- 	<div id="senator-cards" class="row justify-content-evenly gx-0"> -->
<!-- 		<!-1- {% for senator, latest_trade, latest_asset, count in senators_list %} -1-> -->
<!-- 		<!-1- <div id="sen-card " class="card animated mb-3 shadow-sm sen-card" style="width: 25rem;"> -1-> -->
<!-- 		<!-1-   <div class="row g-0"> -1-> -->
<!-- 		<!-1-     <div class="col-md-4"> -1-> -->
<!-- 		<!-1-       <img src="{{ senator.photo_url }}" class="img-fluid senator-img" style="object-fit:cover;height:100%;" alt=""> -1-> -->
<!-- 		<!-1-     </div> -1-> -->
<!-- 		<!-1-     <div class="col-md-8"> -1-> -->
<!-- 		<!-1-       <div class="card-body"> -1-> -->
<!-- 		<!-1-         <h5 class="card-title"> -1-> --> 
<!-- 		<!-1-           <a  class="link-dark card-link stretched-link" href="/senator/{{ senator.id}}">{{ senator }}</a> -1-> -->
<!-- 		<!-1-         </h5> -1-> -->
<!-- 		<!-1-         <div class="d-flex flex-row align-items-center"> -1-> -->
<!-- 		<!-1-           <h6 class="flex-grow-1 card-subtitle">({{ senator.party }}-{{ senator.state }}) -1-> -->
<!-- 		<!-1-           </h6> -1-> -->
<!-- 		<!-1-           <div> -1-> -->
<!-- 		<!-1-             <span class="badge bg-primary">{{ count }} trades</span> -1-> -->
<!-- 		<!-1-           </div> -1-> -->
<!-- 		<!-1-         </div> -1-> -->
<!-- 		<!-1-         <p class="text-muted mb-auto latest-info"><small> -1-> -->
<!-- 		<!-1-           <b>Most recent:</b> {{ latest_asset }} on {{ latest_trade.transaction_date }}. -1-> -->
<!-- 		<!-1-         </small></p> -1-> -->
<!-- 		<!-1-       </div> -1-> -->
<!-- 		<!-1-     </div> -1-> -->
<!-- 		<!-1-   </div> -1-> -->
<!-- 		<!-1- </div> -1-> -->
<!-- 		<!-1- {% endfor %} -1-> -->
<!-- 	</div> -->


<!-- 	<script src="{% static 'js/senator_search.js' %}"></script> -->
<!-- 	{% endblock content %} -->
