{% extends 'stocks/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">
<link rel="stylesheet" href="{% static 'css/detail_pages.css' %}">
<link rel="stylesheet" href="{% static 'css/asset_detail.css' %}">
<!-- <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script> -->
<!-- <script src="{% static 'js/datejs/date-en-US.js' %}"></script> -->

<!-- <div class="d-flex mt-3" style="padding-top:70px"> -->

<div class="container-fluid">
  <div id='root'></div>
</div>
<script src="{% static 'js/senator_detail_bundle.js' %}"></script>

<!--   <!-1- Senator Card -1-> -->
<!--   <div class="flex-column ms-5"> -->
<!--     <div class="card mt-3 senator-card"> -->
<!--       <img src={{ senator.photo_url }} class="card-img-top" alt="..."> -->
<!--       <div class="card-body"> -->
<!--         <h5 class="card-title">{{ senator }}</h5> -->
<!--       </div> -->
<!--       <ul class="list-group list-group-flush"> -->
<!--         <li class="list-group-item"><b>State:</b> </li> -->
<!--         <li class="list-group-item"><p id="party"><b>Party: </b>{{ senator.get_party_display }}</p></li> -->
<!--         <li class="list-group-item"><b>Years In Senate:</b> </li> -->
<!--       </ul> -->
<!--     </div> -->


<!--   </div> -->
<!--   <!-1- <h1 class="mt-3 mb-4">Senator {{ senator }}</h1> -1-> -->

<!--   <div class="flex-column flex-grow-1 ms-3 me-5 mt-3"> -->
<!--     <ul class="nav nav-tabs" id="myTab" role="tablist"> -->
<!--       <li class="nav-item" role="presentation"> -->
<!--         <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">Overview</button> -->
<!--       </li> -->
<!--       <li class="nav-item" role="presentation"> -->
<!--         <button class="nav-link " id="heatmap-tab" data-bs-toggle="tab" data-bs-target="#heatmap-panel" type="button" role="tab" aria-controls="heatmap-tab" aria-selected="false">Heatmap</button> -->
<!--       </li> -->
<!--       <li class="nav-item" role="presentation"> -->
<!--         <button class="nav-link" id="trades-tab" data-bs-toggle="tab" data-bs-target="#trades" type="button" role="tab" aria-controls="trades" aria-selected="false">All Trades</button> -->
<!--       </li> -->
<!--     </ul> -->

<!--     <div class="tab-content" id="myTabContent"> -->
<!--       <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab"> -->
<!--         <!-1- Overview tab -1-> -->	

<!--         <!-1- Overview data cards -1-> -->
<!--         <div class="d-flex mt-3"> -->
<!--           <div class="card bg-secondary shadow-sm flex-fill" style="--bs-gutter-x:0;"> -->
<!--             <div class="card-header"><b>Top 10 Most Traded Assets</b></div> -->
<!--             <div class="card-body"> -->
<!--               <figure id="most-traded-graph"></figure> -->
<!--             </div> -->
<!--           </div> -->
<!--           <div class="card bg-secondary shadow-sm flex-fill" style="--bs-gutter-x:0;"> -->
<!--             <div class="card-header"><b>Most Recent Trades</b></div> -->
<!--             <div class="card-body"> -->
<!--             <table class= "table table-hover table-sm mt-3"> -->
<!--               <thead> -->
<!--                 <tr> -->
<!--                   <th scope="col">Date</th> -->
<!--                   <th scope="col">Senator</th> -->
<!--                   <th scope="col">Owner</th> -->
<!--                   <th scope="col">Ticker</th> -->
<!--                   <th scope="col">Asset Type</th> -->
<!--                   <th scope="col">Transaction Type</th> -->
<!--                   <th scope="col">Amount</th> -->
<!--                 </tr> -->
<!--               </thead> -->
<!--               <tbody id="most-recent-trades-table"> -->
<!--               </tbody> -->
<!--             </table> -->
<!--               <script src='{% static 'js/sen_recent_trades.js' %}'></script> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->
<!--         <div class="d-flex"> -->
<!--           <div class="card bg-secondary shadow-sm flex-fill" style="--bs-gutter-x:0;"> -->
<!--             <div class="card-header"><b>Who Owns the Trades?</b></div> -->
<!--             <div class="card-body"> -->
<!--               <figure id="owner-graph"></figure> -->
<!--             </div> -->
<!--           </div> -->
<!--           <div class="card bg-secondary shadow-sm flex-fill" style="--bs-gutter-x:0;"> -->
<!--             <div class="card-header"><b>Buy or Sell?</b></div> -->
<!--             <div class="card-body"> -->
<!--               <figure id="type-graph"></figure> -->
<!--             </div> -->
<!--           </div> -->
<!--           <div class="card bg-secondary shadow-sm flex-fill" style="--bs-gutter-x:0;"> -->
<!--             <div class="card-header"><b>Trades by Amount</b></div> -->
<!--             <div class="card-body"> -->
<!--               <figure id="amount-graph"></figure> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->

<!--         <script src="{% static 'js/histogram.js' %}"></script> -->
<!--         <script src="{% static 'js/sen_owner_graph.js' %}"></script> -->
<!--         <script src="{% static 'js/sen_trans_type_graph.js' %}"></script> -->
<!--         <script src="{% static 'js/sen_amount_map.js' %}"></script> -->
<!--       </div> -->

<!--       <div class="tab-pane fade" id="heatmap-panel" role="tabpanel" aria-labelledby="heatmap-tab"> -->

<!--         <!-1- Year select for heatmap -1-> -->
<!--         <div class="row justify-content-center mt-3"> -->
<!--           <div class="col-3"> -->
<!--             <div class="btn-group btn-group-sm mt-3" role="group" aria-label="Basic radio toggle button group"> -->
<!--               <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"> -->
<!--               <label class="btn btn-outline-primary" for="btnradio1">2019</label> -->

<!--               <input type="radio" class="btn-check" name="btnradio" id="btnradio2" onclick=update(2020,heatmapMap) autocomplete="off"> -->
<!--               <label class="btn btn-outline-primary" for="btnradio2">2020</label> -->

<!--               <input type="radio" class="btn-check" name="btnradio" id="btnradio3" onclick=update(2021,heatmapMap) autocomplete="off" checked> -->
<!--               <label class="btn btn-outline-primary" for="btnradio3">2021</label> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->

<!--         <!-1- Trades heatmap -1-> -->
<!--         <div class="row justify-content-center"> -->
<!--           <div class="col"> -->
<!--             <figure id="heatmap"></figure> -->
<!--           </div> -->
<!--         </div> -->

<!--         <!-1- Table with trades for date selected in heatmap -1-> -->
<!--         <div id="selected-trades"> -->
<!--           <h5 class="mt-5" id="selected-date">Trades on </h5> -->
<!--           <table class= "table table-striped table-hover table-sm mt-3"> -->
<!--             <thead> -->
<!--               <tr> -->
<!--                 <th scope="col">Transaction Date</th> -->
<!--                 <th scope="col">Owner</th> -->
<!--                 <th scope="col">Ticker</th> -->
<!--                 <th scope="col">Asset Name</th> -->
<!--                 <th scope="col">Asset Type</th> -->
<!--                 <th scope="col">Transaction Type</th> -->
<!--                 <th scope="col">Amount</th> -->
<!--                 <th scope="col">Comments</th> -->
<!--                 <th scope="col">Original URL</th> -->
<!--               </tr> -->
<!--             </thead> -->
<!--             <tbody id="selected-trades-table"> -->
<!--             </tbody> -->
<!--           </table> -->
<!--           <!-1- <div class="d-grid "> -1-> -->
<!--           <!-1-   <button id="more-trades-button" onclick="getNextTrades()" class="btn btn-outline-primary btn-sm" type="button">Show More Trades</button> -1-> -->
<!--           <!-1- </div> -1-> -->
<!--           <div id = "no-trades-alert" class="alert alert-danger animated" style="visibility:hidden;display:none;" role="alert">No trades to display.</div> -->
<!--           <div id="no-date-selected" class="alert alert-danger animated" role="alert">No date selected. Select a date above to view that day's transactions.</div> -->
<!--         </div> -->

<!--         <script src="{% static 'js/senators.js' %}"></script> -->
<!--         <script src="{% static 'js/detail_heatmap.js' %}"></script> -->
<!--         <script src="{% static 'js/all_trades.js' %}"></script> -->
<!--       </div> -->

<!--       <!-1- All Trades tab -1-> -->
<!--       <div class="tab-pane fade" id="trades" role="tabpanel" aria-labelledby="trades-tab"> -->

<!--         <!-1- Options to filter trades -1-> -->
<!--         <div class="mt-3 p-3 border light contrast-box"> -->
<!--           <div class="row mx-3"> -->
<!--             <div class="col-3"> -->
<!--               <div id="dateRange" class="input-group input-group-sm"> -->
<!--                 <input type="text" id="dateStartInput" class="form-control form-control-sm" placeholder="Start" aria-label="search start date"> -->
<!--                 <span class="input-group-text" id="dateInputLabel">to</span> -->
<!--                 <input type="text" id="dateEndInput" class="form-control form-control-sm" placeholder="End" aria-label="search end date"> -->
<!--               </div> -->
<!--               <script>makeDatePicker("dateRange")</script> -->
<!--             </div> -->
<!--             <div class="col-2"> -->
<!--               <div class="input-group input-group-sm"> -->
<!--                 <span class="input-group-text" id="tickerInputLabel">Ticker</span> -->
<!--                 <input type="text" id="ticker" class="form-control form-control-sm" placeholder="All" aria-label="ticker search"> -->
<!--               </div> -->
<!--             </div> -->
<!--             <div class="col"> -->
<!--               <div class="input-group input-group-sm"> -->
<!--                 <span class="input-group-text" id="assetNameInputLabel">Asset Name</span> -->
<!--                 <input type="text" id="asset_name" class="form-control form-control-sm" placeholder="All" aria-label="asset name search"> -->
<!--               </div> -->
<!--             </div> -->
<!--           </div> -->
<!--           <div class="row mt-3 mx-3 justify-content-evenly align-items-center"> -->
<!--             <div class="col-2"> -->
<!--               <div class="form-floating"> -->
<!--                 <select id="owner" class="form-select form-select-sm" aria-label="Owner select"> -->
<!--                   <option value="All" selected>All</option> -->
<!--                   <option value="Self">Self</option> -->
<!--                   <option value="Spouse">Spouse</option> -->
<!--                   <option value="Child">Child</option> -->
<!--                   <option value="Joint">Joint</option> -->
<!--                 </select> -->
<!--                 <label for="owner">Owner</label> -->
<!--               </div> -->
<!--             </div> -->
<!--             <div class="col-2"> -->
<!--               <div class="form-floating"> -->
<!--                 <select class="form-select form-select-sm" id="asset_type" aria-label="asset type select"> -->
<!--                   <option value="All" selected>All</option> -->
<!--                   <option value="Stock">Stock</option> -->
<!--                   <option value="Non-Public Stock">Non-Public Stock</option> -->
<!--                   <option value="Stock Option">Stock Option</option> -->
<!--                   <option value="Corporate Bond">Corporate Bond</option> -->
<!--                   <option value="Municipal Security">Municipal Security</option> -->
<!--                   <option value="Other Securities">Other Securities</option> -->
<!--                 </select> -->
<!--                 <label for="asset_type">Asset Type</label> -->
<!--               </div> -->
<!--             </div> -->
<!--             <div class="col-2"> -->
<!--               <div class="form-floating"> -->
<!--                 <select class="form-select form-select-sm" id="transaction_type" aria-label="transaction type select"> -->
<!--                   <option value="All" selected>All</option> -->
<!--                   <option value="Purchase" selected>Purchase</option> -->
<!--                   <option value="Sale (Partial)">Sale (Partial)</option> -->
<!--                   <option value="Sale (Full)">Sale (Full)</option> -->
<!--                 </select> -->
<!--                 <label for="transaction_type">Transaction Type</label> -->
<!--               </div> -->
<!--             </div> -->
<!--             <div class="col-3"> -->
<!--               <div class="form-floating"> -->
<!--                 <select class="form-select form-select-sm" id="amount" aria-label"trade amount select"> -->
<!--                   <option value="All" selected>All</option> -->
<!--                   <option value="$1,001 - $15,000">$1,001 - $15,000</option> -->
<!--                   <option value="$15,001 - $50,000">$15,001 - $50,000</option> -->							
<!--                   <option value="$50,001 - $100,000">$50,001 - $100,000</option> -->
<!--                   <option value="$100,001 - $250,000">$100,001 - $250,000</option> -->
<!--                   <option value="$250,001 - $500,000">$250,001 - $500,000</option> -->
<!--                   <option value="$500,001 - $1,000,000">$500,001 - $1,000,000</option> -->
<!--                   <option value="$1,000,001 - $5,000,000">$1,000,001 - $5,000,000</option> -->
<!--                   <option value="$5,000,001 - $25,000,000">$5,000,001 - $25,000,000</option> -->
<!--                   <option value="$25,000,001 - $50,000,000">$25,000,001 - $50,000,000</option> -->
<!--                   <option value="Over $50,000,0000">Over $50,000,000</option> -->
<!--                 </select> -->
<!--                 <label for="amount">Transaction Amount</label> -->
<!--               </div> -->
<!--             </div> -->
<!--             <div class="col-2"> -->
<!--               <button id="reset-button" type="button" class="btn btn-danger">Reset</button> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->
<!--         <table class= "table table-hover table-striped table-sm mt-3"> -->
<!--           <thead> -->
<!--             <tr> -->
<!--               <th scope="col">Transaction Date</th> -->
<!--               <th scope="col">Owner</th> -->
<!--               <th scope="col">Ticker</th> -->
<!--               <th scope="col">Asset Name</th> -->
<!--               <th scope="col">Asset Type</th> -->
<!--               <th scope="col">Transaction Type</th> -->
<!--               <th scope="col">Amount</th> -->
<!--               <th scope="col">Comments</th> -->
<!--               <th scope="col">Original URL</th> -->
<!--             </tr> -->
<!--           </thead> -->
<!--           <tbody id="allTrades"> -->
<!--             <!-1- {% for trade in trades %} -1-> -->
<!--             <!-1- <tr> -1-> -->
<!--             <!-1-   <th scope="row">{{ trade.transaction_date }}</th> -1-> -->
<!--             <!-1-   <td>{{ trade.owner }}</td> -1-> -->
<!--             <!-1-   <td>{{ trade.ticker }}</td> -1-> -->
<!--             <!-1-   <td><a href="/asset/{{ trade.asset.id }}">{{ trade.asset_name }}</a></td> -1-> -->
<!--             <!-1-   <td>{{ trade.asset_type }}</td> -1-> -->
<!--             <!-1-   <td>{{ trade.transaction_type }}</td> -1-> -->
<!--             <!-1-   <td>{{ trade.amount }}</td> -1-> -->
<!--             <!-1-   <td>{{ trade.comments }}</td> -1-> -->
<!--             <!-1-   <td><a href={{ trade.url }}>Link</a></td> -1-> -->
<!--             <!-1- </tr> -1-> -->
<!--             <!-1- {% endfor %} -1-> -->
<!--           </tbody> -->
<!--         </table> -->
<!--         <div id="no-filter-trades-alert" style="visibility:hidden;display:none;" class="alert alert-dark animated" role="alert" >No trades found.</div> -->
<!--         <div class="d-grid "> -->
<!--           <button id="all-trades-more" class="btn btn-outline-primary btn-sm" type="button">Show More Trades</button> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->

{% endblock content %}
