{% extends 'stocks/base.html' %}

{% block content %}

<div class="container-fluid pb-3">
	<div class="col py-3" style="background-color: transparent: inherit; border-radius: 25px;">
		<table id="table" data-toggle="table" class="table table-sm table-striped table-borderless">
			<thead>
				<tr>
					<th data-field="senator" data-sortable="true" data-sorter="nameSorter">Senator</th>
					<th data-field="state" data-sortable="true">State</th>
					<th data-field="party" data-sortable="true">Party</th>
					<th data-field="trades" data-sortable="true">Number of Trades</th>
					<th data-field="volume" data-sortable="true">Trade Volume This Year</th>
				</tr>
			</thead>
			<tbody>
				{% for senator in senators %}
				<tr>
					<th scope="row">
						<a href='/senator/{{ senator.id }}'>{{ senator }}</a>
					</th>
				</tr>
				{% endfor %}
		</table>

		<script>
			function checkEnd(str) {
				arr = "Jr. Sr. I II III IV"
				return arr.includes(str)
			}

			function nameSorter(a,b) {
				var aa = a.split(' ')
				console.log(aa)
				var bb = b.split(' ')
				var offsetA = aa.filter(checkEnd)
				var offsetB = bb.filter(checkEnd)
				
				lastNameA = aa[aa.length-1-offsetA.length]
				lastNameB = bb[bb.length-1-offsetB.length]
				console.log(lastNameA)
				console.log(lastNameB)
				return lastNameA-lastNameB
			}
		</script>
	</div>
</div>

{% endblock content %}
