{% extends 'stocks/base.html' %}

{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'stocks/detail.css' %}">

<div class="container-fluid content">
	<div class="col" style="background-color: transparent; width: inherit; border-radius: 25px;">


		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					{% if figure %}
					{{ figure|safe }}
					{% else %}
					<p>No graph provided.</p>
					{% endif %}


				</div>
				<div class="carousel-item">
					{% if figure2 %}
					{{ figure2|safe }}
					{% else %}
					<p>No graph provided.</p>
					{% endif %}


				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>




		<h1>List of Trades for {{ company_name }}: </h1>
		<div class="accordion" id="tradesBySenator">
			{% for s_obj in senator_obj %}
			<div class="card">
				<div class="card-header" id="heading{{ forloop.counter }}">
					<h2 class="mb-0">
						<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
							{{ s_obj.senator }}
						</button>
					</h2>
				</div>

				<div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#tradesBySenator">
					{% for trade in s_obj.senator.trade_set.all %}
					{% if trade.asset_name == company_name %}
					<div class="card-body">
						<ul>{{ trade }}</ul>
					</div>
					{% endif %}
					{% endfor %}
				</div>

			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock content %}
