{% extends 'stocks/base.html' %}

{% block content %}

<div class="container-fluid content">
	<div class="col" style="background-color: transparent; width: inherit; border-radius: 25px;">
		<h1>List of Companies</h1>
		<form action="{% url 'company_search' %}" method="get">
			<input name="q" type="text" placeholder="Search...">
		</form>
		<ul>
			{% for company in companies %}
			<li><a href="/trades/companies/{{ company.ticker }}">{{ company.ticker }} - {{ company.asset_name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock content %}
